@model List<AcunMedya.Cafe.Entities.Feature>

	@foreach(var x in Model)
	{

	
<section class="banner-area" id="home">
	<div class="container">
		<div class="row fullscreen d-flex align-items-center justify-content-start">
			<div class="banner-content col-lg-7">
				<h6 class="text-white text-uppercase">Organik Çay Deneyimi</h6>
				<h1>
					Doğadan Gelen Tazelik: GreenLeaf Çayları
				</h1>
				<a href="#" class="primary-btn text-uppercase">Şimdi Keşfet</a>
			</div>
		</div>
	</div>
</section>
	}
