@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx" class="no-js">


@await Component.InvokeAsync("_DefaultHeadComponentPartial")
<body>

	<header id="header" id="home">
	
		@await Component.InvokeAsync("_DefaultAdressComponentPartial")
		@await Component.InvokeAsync("_DefaultNavbarComponentPartial")
	</header><!-- #header -->
	<!-- start banner Area -->
	@await Component.InvokeAsync("_DefaultFeatureComponentPartial")
	@await Component.InvokeAsync("_DefaultAboutComponentPartial")
	<!-- End banner Area -->
	<!-- Start video-sec Area -->

	<!-- End video-sec Area -->
	<!-- Start menu Area -->
	@await Component.InvokeAsync("_DefaultProductComponentPartial")
	@await Component.InvokeAsync("_DefaultGalleryComponentPartial")

	<section class="review-area section-gap" id="review">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-60 col-lg-10">
					<div class="title text-center">
						<h1 class="mb-10">Müşterilerimiz Ne Diyor?</h1>
						<p>Organik çay deneyimimizle, doğaseverler ve çay tutkunlarının buluşma noktası</p>
					</div>
				</div>
			</div>

			@await Component.InvokeAsync("_DefaultTestimonialComponentPartial")
			@await Component.InvokeAsync("_DefaultStatisticComponentPartial")

	
		</div>
	</section>
	<!-- End review Area -->

	<!-- start footer Area -->
	<footer class="footer-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Hakkımızda</h6>
						<p>
							Çay bizim için sadece bir içecek değil, bir tutkudur. Misafirlerimize en kaliteli organik çay yapraklarıyla hazırlanmış eşsiz lezzetler sunuyoruz. Doğaya saygılı üretim metotlarımız ve sıcacık ortamımızda, özenle demlenen çayın keyfini çıkarın.
						</p>
						<p class="footer-text">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır <i class="fa fa-heart-o" aria-hidden="true"></i></a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
					</div>
				</div>
			

				<div class="col-lg-5  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Abone olun</h6>
						<p>Stay</p>
						<div class="" id="mc_embed_signup">
							<form method="post" class="form-inline">
								<input class="form-control" name="SubscribeMail" placeholder="Mail Adresiniz" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mail Adresiniz '" required="" type="email">
								<button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
								<div style="position: absolute; left: -5000px;">
									<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
								</div>

								<div class="info pt-20"></div>
							</form>
						</div>
					</div>
				</div>


				<div class="col-lg-2 col-md-6 col-sm-6 social-widget">
					<div class="single-footer-widget">
						<h6>Bizi Takip Edin</h6>
						<p>Sosyal Medya Adreslerimiz</p>
						<div class="footer-social d-flex align-items-center">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->
	@await Component.InvokeAsync("_DefaultScriptComponentPartial")

</body>
</html>



