@model List<AcunMedya.Cafe.Entities.Gallery>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Index</h1>


<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> Galeri Tablsou </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Tablo</a></li>
                <li class="breadcrumb-item active" aria-current="page">Galeri</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Resim</th>
                                <th>Güncelle</th>
                                <th>Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.GalleryId</td>
                                    <td><img src="@item.Photo"></td>
                                    <td><a href="/Admin/Gallery/UpdateGallery/@item.GalleryId" class="badge badge-info">Güncelle</a></td>
                                    <td><a href="/Admin/Galllery/DeleteGalery/@item.GalleryId" class="badge badge-danger">Sil</a></td>
                                </tr>
                            }


                        </tbody>
                    </table>
                    <a href="/Admin/Gallery/AddGallery" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Yeni Resim</a>
                </div>
            </div>
        </div>

    </div>
</div>
