<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="~/images/anil3.jpg" alt="profile" />
                    <span class="login-status online"></span>
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">Anıl Engin Keretli</span>
                    <span class="text-secondary text-small">Kafe Sahibi</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Login/Index/">
                <span class="menu-title">Giriş Yap</span>
                <i class="mdi mdi-login menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Admin/Dashboard/Index/">
                <span class="menu-title">Anasayfa</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li> 
     
        <li class="nav-item">
            <a class="nav-link" href="/Default/Index/">
                <span class="menu-title">Siteye Git</span>
                <i class="mdi mdi-link-variant menu-icon"></i>
            </a>
        </li> 
     

        <li class="nav-item">
            <a class="nav-link" href="/Admin/About/Index/">
                <span class="menu-title">Hakkımızda</span>
                <i class="mdi mdi-information-outline menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Admin/Category/Index/">
                <span class="menu-title">Kategoriler</span>
                <i class="mdi mdi-view-list menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Admin/Product/Index/">
                <span class="menu-title">Ürünler</span>
                <i class="mdi mdi-food menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Admin/Testimonial/Index/">
                <span class="menu-title">Referanslar</span>
                <i class="mdi mdi-account-star menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Admin/Gallery/Index/">
                <span class="menu-title">Galeri</span>
                <i class="mdi mdi-image-multiple menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Admin/Adress/Index/">
                <span class="menu-title">Adres</span>
                <i class="mdi mdi-map-marker menu-icon"></i>
            </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Subscribe/Index/">
                <span class="menu-title">Aboneler</span>
                <i class="mdi mdi-account-multiple-plus menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Admin/Notification/Index/">
                <span class="menu-title">Mesajlar</span>
                <i class="mdi mdi-email-outline menu-icon"></i>
            </a>
        </li>
    </ul>
</nav>
